apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app

resources:
  - ../../base/namespace.yaml
  - ../../base/cert-manager-issuer.yaml
  - ../../base/auth-service.yaml
  - ../../base/user-service.yaml
  - ../../base/video-service.yaml
  - ../../base/media-processor-service.yaml
  - ../../base/settings-service.yaml
  - ../../base/program-service.yaml
  - ../../base/coach-service.yaml
  - ../../base/notification-service.yaml
  - ../../base/dm-service.yaml
  - ../../base/machine-service.yaml
  - ../../base/reminder-service.yaml
  - ../../base/ingress.yaml

patchesJson6902:
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: powerlifting-coach-ingress
    patch: |-
      - op: replace
        path: /spec/rules/1/host
        value: api.nolift.training
      - op: replace
        path: /spec/rules/2/host
        value: auth.nolift.training

images:
  - name: auth-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/auth-service
    newTag: latest
  - name: user-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/user-service
    newTag: latest
  - name: video-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/video-service
    newTag: latest
  - name: media-processor-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/media-processor-service
    newTag: latest
  - name: settings-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/settings-service
    newTag: latest
  - name: program-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/program-service
    newTag: latest
  - name: coach-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/coach-service
    newTag: latest
  - name: notification-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/notification-service
    newTag: latest
  - name: dm-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/dm-service
    newTag: latest
  - name: machine-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/machine-service
    newTag: latest
  - name: reminder-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/reminder-service
    newTag: latest

commonLabels:
  environment: production
  component: backend
