apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app

resources:
  - ../../base/namespace.yaml
  - ../../base/frontend.yaml
  - ../../base/ingress.yaml

patchesJson6902:
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: powerlifting-coach-ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: app.nolift.training

images:
  - name: frontend
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/frontend
    newTag: latest

commonLabels:
  environment: production
  component: frontend
