apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app

resources:
  - ../../base

patchesStrategicMerge:
  - production-patches.yaml
  - frontend-patch.yaml
  - auth-service-patch.yaml
  - video-service-patch.yaml
  - media-processor-service-patch.yaml

patchesJson6902:
  - target:
      group: gateway.networking.k8s.io
      version: v1
      kind: HTTPRoute
      name: frontend-route
    patch: |-
      - op: replace
        path: /spec/hostnames/0
        value: app.nolift.training
  - target:
      group: gateway.networking.k8s.io
      version: v1
      kind: HTTPRoute
      name: api-route
    patch: |-
      - op: replace
        path: /spec/hostnames/0
        value: api.nolift.training
  - target:
      group: gateway.networking.k8s.io
      version: v1
      kind: HTTPRoute
      name: auth-route
    patch: |-
      - op: replace
        path: /spec/hostnames/0
        value: auth.nolift.training
  - target:
      group: cert-manager.io
      version: v1
      kind: Certificate
      name: app-tls
    patch: |-
      - op: replace
        path: /spec/dnsNames/0
        value: app.nolift.training
      - op: replace
        path: /spec/dnsNames/1
        value: api.nolift.training
      - op: replace
        path: /spec/dnsNames/2
        value: auth.nolift.training

images:
  - name: auth-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/auth-service
    newTag: latest
  - name: user-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/user-service
    newTag: latest
  - name: video-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/video-service
    newTag: latest
  - name: settings-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/settings-service
    newTag: latest
  - name: program-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/program-service
    newTag: latest
  - name: coach-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/coach-service
    newTag: latest
  - name: notification-service
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/notification-service
    newTag: latest
  - name: frontend
    newName: ghcr.io/pierrestephanevoltaire/powerlifting-coach/frontend
    newTag: latest

commonLabels:
  environment: production

replicas:
  - name: postgres
    count: 1
  - name: valkey
    count: 1
  - name: rabbitmq
    count: 1
